#root {
  margin: 0 auto;
  padding: 0;
  width: 100hw;
  overflow: hidden;
}

h3 {
  text-align: center;
  animation: ups 2s infinite;
  text-transform: uppercase;
}
h1 {
  font-size: 40px;
  text-align: center;
  font-variant: small-caps;
}

.txt {
  text-align: center;
}

@keyframes ups {
  0% {transform: translateY(0);}
  50% {transform: translateY(-20px);}
  100% {transform: translateY(0);}
}

h2 {
  text-align: center;
  width: 500px;
}

p {
  text-align: center;
  width: 500px;
}

span {
  color: #535bf2;
  font-weight: 800;
}